HTTP_PROXY="{{ proxy_proto }}://{{ proxy_address }}"
HTTPS_PROXY="{{ proxy_proto }}://{{ proxy_address }}"

NO_PROXY=localhost,127.0.0.1{% for host in ansible_play_hosts_all %},{{hostvars[host]['ansible_host']}}{% endfor %}
